
/*============================================
全般的なスタイル
============================================*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article,section {
	font-family: "Montserrat","Helvetica Neue", "Yu Gothic", メイリオ, 'HIragino Kaku Gothic Pro', 'MS Pゴシック', sans-serif;
	font-size:100%;
	font-weight:500;
	line-height:170%;
	vertical-align: baseline;
	background: transparent;
	letter-spacing:0.1em;
}

a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
img{
	border:0;
}
* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}
body {
        margin: 0 auto;
	background-color:#FFFFFF;	/*ページ全体の背景色*/
	background-image:url("images/bg.jpg");	/*ウェブページ全体の背景画像*/
	font-size:95%;			/* フォントサイズを95%にする */
	font-family: "ＭＳ ゴシック",sans-serif; /* フォントの種類をゴシック系にする */
	line-height:1.5; 		/* 行の高さを1.5倍にする */
	color:#333333; 			/* 文字色を濃い目のグレーにする */
}
div#pagebody {
	width:1000px; margin:0 auto;	/*内容全体をセンタリング*/
	background-color:#ffffff;	/*内容全体の背景色*/
/*	background-image:url("images/concon.jpg");	/*コンテンツ全体の背景画像*/
	background-repeat:repeat-y;	/*背景画像を縦方向に繰り返す*/
}

#menu li {
	list-style-type:none;	/*リストマーカー無しにする*/
	display:inline;		/*リスト項目をインライン表示にする*/
}

body{	
	width: 700px;
}

@media screen and (max-width: 699px){
body{	
	width: 100%;
}
.dropmenu{
	width: 100%;
}
}

.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid #7c8c0e;
  background: #6e7c0c;
  text-align: left;
}
.dropmenu li:hover > a{
  background: #6e7c0c;
}
.dropmenu li a:hover{
  background: #616d0b;
}

#dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}

