dl.detail_dl {
    display: flex;
}

dl.detail_dl dt img {
    width: 100%;
}

dl.detail_dl dt {
    width: 30%;
}

dl.detail_dl dd {
    width:  65%;
    margin-left: 3%;
}

p.detailview_3 {
    text-align:  center;
    margin:  19% 0% 4%
    font-weight:  bold;
    font-size: 130%;
}
.detailview {
    border: 3px solid #ff8100;
    padding: 2%;
    width:95%;
    margin:3% auto;
}

p.detailview_1 {
    font-size: 137%;
    font-weight: bold;
    margin-bottom: 2%;
}

ul.detailul li {margin-bottom: 0.3%;}

p.detailview_2 {
    padding: 3%;
}

.detailview>img {
    width: 100%;
}

a.link_1 {
    background-color: #eb6100;
    text-align:  center;
    color: #Fff;
    width:  100%;
    display: block;
    padding: 3% 0%;
    border-radius: 5px;
}
.pagediv{
    margin:3% auto;
}
.sbm {
    border: none;
    width:  100%;
    padding: 2% 0%;
    background-color: #eb6100;
    color: #fff;
    margin: 3% auto;
}
p.cnt_p_1 {
    text-align:center;
    font-size:  120%;
    margin-bottom: 1%;
}

dl.cnt_dl {
    overflow: hidden;
}

dl.cnt_dl dt {
    float:  left;
    width: 25%;
    clear:  left;
    padding: 1% 0%;
}

dl.cnt_dl dd {
    float:  left;
    width: 65%;
    padding: 1% 0%;
}

input[type="text"] {
    width:  100%;
    border: none;
    height: 29px;
    background-color:  #f6f2e6;
}
